<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>DistroIQ</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/front/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/static/front/css/slick.css" />
    <link type="text/css" rel="stylesheet" href="/static/front/css/slick-theme.css" />
    <link type="text/css" rel="stylesheet" href="/static/front/css/nouislider.min.css" />
    <link rel="stylesheet" href="/static/front/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/static/front/css/style.css" />


    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <header>
        <div id="top-header">
            <div class="container">
                <ul class="header-links pull-left">
                    <li><a href="#"><i class="fa fa-phone"></i> +256770703204</a></li>
                    <li><a href="#"><i class="fa fa-envelope-o"></i> <span class="__cf_email__"
                                data-cfemail="1f7a727e76735f7a727e7673317c7072">info@distroiq.com</span></a></li>
                    <li><a href="#"><i class="fa fa-map-marker"></i>10 Acacia Avenue, Kololo</a></li>
                </ul>
                <ul class="header-links pull-right">
                    <li><a href="#"><i class="fa fa-dollar"></i>UGX 0/=</a></li>
                    <li><a href="#"><i class="fa fa-user-o"></i> My Account</a></li>
                </ul>
            </div>
        </div>


        <div id="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="header-logo" >
                            <a href="/" class="text-white" style="color: white !important;font-size:2em;">
                                DistroIQ
                            </a>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="header-search">
                            <form>
                                <select class="input-select">
                                    <option value="0">Businesses</option>
                                    <option value="1">Categories</option>
                                    <option value="1">Products</option>
                                </select>
                                <input class="input" placeholder="Search here">
                                <button class="search-btn">Search</button>
                            </form>
                        </div>
                    </div>


                    <div class="col-md-3 clearfix">
                        <div class="header-ctn">
                            <div>
                                <a href="#">
                                    <i class="fa fa-heart-o"></i>
                                    <span>Your Wishlist</span>
                                    <div class="qty">0</div>
                                </a>
                            </div>


                            <div class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span>Your Cart</span>
                                    <div class="qty">0</div>
                                </a>
                                <div class="cart-dropdown">
                                    <div class="cart-list">
                                        <div class="product-widget">
                                            <div class="product-img">
                                                <img src="/static/front/img/product01.png" alt="">
                                            </div>
                                            <div class="product-body">
                                                <h3 class="product-name"><a href="index.html#">product name goes
                                                        here</a></h3>
                                                <h4 class="product-price"><span class="qty">1x</span>$980.00</h4>
                                            </div>
                                            <button class="delete"><i class="fa fa-close"></i></button>
                                        </div>
                                        <div class="product-widget">
                                            <div class="product-img">
                                                <img src="/static/front/img/product02.png" alt="">
                                            </div>
                                            <div class="product-body">
                                                <h3 class="product-name"><a href="index.html#">product name goes
                                                        here</a></h3>
                                                <h4 class="product-price"><span class="qty">3x</span>$980.00</h4>
                                            </div>
                                            <button class="delete"><i class="fa fa-close"></i></button>
                                        </div>
                                    </div>
                                    <div class="cart-summary">
                                        <small>3 Item(s) selected</small>
                                        <h5>SUBTOTAL: $2940.00</h5>
                                    </div>
                                    <div class="cart-btns">
                                        <a href="index.html#">View Cart</a>
                                        <a href="index.html#">Checkout <i class="fa fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                            </div>


                            <div class="menu-toggle">
                                <a href="#">
                                    <i class="fa fa-bars"></i>
                                    <span>Menu</span>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <nav id="navigation">
        <div class="container">
            <div id="responsive-nav">
                <ul class="main-nav nav navbar-nav">
                    <li {% if request.path == '/' %}class="active"{% endif %}><a href="/">Home</a></li>
                    <li {% if request.path == '/app/businesses' %}class="active"{% endif %}><a href="/app/businesses">Businesses</a></li>
                    <li {% if request.path == '/app/products' %}class="active"{% endif %}><a href="/app/products">Products</a></li>
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}


    <div id="newsletter" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="newsletter">
                        <p>Sign Up for the <strong>NEWSLETTER</strong></p>
                        <form onsubmit="return false;">
                            <input class="input" type="email" placeholder="Enter Your Email">
                            <button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
                        </form>
                        <ul class="newsletter-follow">
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer id="footer">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">About Us</h3>
                            <p>Distro is the leading blah blah blah blah blah blah blah blah blah blah blah blah blah.</p>
                            <ul class="footer-links">
                                <li><a href="#"><i class="fa fa-map-marker"></i>10 Acacia Avenue, Kololo.</a></li>
                                <li><a href="#"><i class="fa fa-phone"></i>+256770703204</a></li>
                                <li><a href="#"><i class="fa fa-envelope-o"></i><span class="__cf_email__"
                                            data-cfemail="07626a666e6b47626a666e6b2964686a">info@distroiq.com</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <div class="clearfix visible-xs"></div>

                    <div class="col-md-4 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Information</h3>
                            <ul class="footer-links">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Orders and Returns</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Service</h3>
                            <ul class="footer-links">
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">View Cart</a></li>
                                <li><a href="#">Wishlist</a></li>
                                <li><a href="#">Track My Order</a></li>
                                <li><a href="#">Help</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="/static/front/js/jquery.min.js"></script>
    <script src="/static/front/js/bootstrap.min.js"></script>
    <script src="/static/front/js/slick.min.js"></script>
    <script src="/static/front/js/nouislider.min.js"></script>
    <script src="/static/front/js/jquery.zoom.min.js"></script>
    <script src="/static/front/js/main.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
</body>

</html>